{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">

        <article class="ten wide column">
            <header class="ui  header"> Points of Interest</header>
            <p> The isles of Ireland </p>
        </article>

        <img src="images/ireland1.jpg" class="ui image">
    </div>
</section>
